<a href="https://colab.research.google.com/github/ALFAROSO/Calculadora-MVC/blob/main/Ejercicios_Ciclo_1_Alberth.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Condicionales

4. Dado un número real x, construya una función que permita determinar si el número es positivo, negativo o cero.
Para cada caso de debe imprimir el texto que se especifica a continuación:
Positivo: “El número x es positivo”
Negativo: “El número x es negativo”
Cero (0): “El número x es el neutro para la suma”

In [ ]:
def posit_negat (n):
    if n > 0:
        print("El número ", n ,"es positivo")
    elif n < 0:
        print("El número ", n ,"es negativo")
    else:
        print("El número", n ,"es el neutro para la suma")

posit_negat(4)

El número  4 es positivo

6. Dadas tres longitudes positivas, determinar si con esas longitudes se puede construir un triángulo.

In [ ]:
def triangulo (a,b,c):
    f = (max(a,b,c)-((min(a,b,c)+((a+b+c)-max(a,b,c,)-min(a,b,c)))))

    if f < 0:
        return "Hay triangulo"
    else:
        return "No hay triangulo"

a = int (input("Digite lado 1:"))
b = int (input("Digite lado 2:"))
c = int (input("Digite lado 3:"))
rta = triangulo(a,b,c)
print(rta)

Digite lado 1:4
Digite lado 2:4
Digite lado 3:4
Hay triangulo

# Ciclo_Minentras

1.  Desarrollar un programa que imprima el cuadrado del número que el usuario ingresa mientras que el número ingresado no sea negativo.

In [ ]:
y = 0
while y >= 0:
    y = int(input("Digite el numero? "))
    if y < 0:
        break
    print(y*y)
print("FIN")

Digite el numero? 4
16
Digite el numero? 3
9
Digite el numero? 0
0
Digite el numero? -9
FIN

2. Desarrollar un programa que dado un numero entero positivo n calcule e imprima (separados por espacios) n/2 si es par o 3n + 1 si es impar. El programa debe repetir el proceso con el numero resultado de dicha operacion mientras este sea diferente de 1. Por ejemplo para el numero 3 debe imprimir 10 5 16 8 4 2 1.

In [ ]:
n = int(input("n?"))

while n != 1:
    if n % 2 == 0:
        n = n // 2
    else:
        n = (3*n) + 1
    print(n,end = " ")

n?3
10 5 16 8 4 2 1

3. En 2022 el pais A tendra una poblacion de 25 millones de habitantes y el pais B de 18.9 millones. Las tasas de crecimiento anual de la población seran de 2% y 3% respectivamente. Desarrollar un programa que imprima el año en que la población del paıs B superara a la de A.

In [ ]:
A = 25
B = 18.9
año = 2022

while A > B:
    A = A + (A * 0.02)
    B = B + (B * 0.03)
    año += 1
print(año)

2051

# Cadenas

1. Desarrollar un algoritmo que reciba dos cadenas de caracteres y determine si la primera esta incluida en la segunda. Se dice que una cadena esta incluida en otra, si todos los caracteres (con repeticiones) de la cadena esta en la segunda cadena sin tener en cuenta el orden de los caracteres.

Ejemplos
- La cadena “prosa” esta incluida en la cadena “la profesora de idiomas”.
- La cadena “pepito” no esta incluida en la cadena “un pedazo de tierra”, ya que le falta una “p”.
- La cadena “pepito” si esta incluida en la cadena “tijeras o papel”.

In [ ]:
cad1 = input("Ingrese la primera cadena: ")
cad2 = input("Ingrese la segunda cadena: ")
c = 0

for letra in cad1:
    if letra in cad2:
        cantidad1 = cad1.count(letra)
        cantidad2 = cad2.count(letra)
        #print(letra + " c1: " + str(cantidad1) + " c2: " + str(cantidad2))
        if (cantidad1 <= cantidad2):
            c += 1

if c == len(cad1):
    print("Si está")
else:
    print("No está")

Ingrese la primera cadena: prosa
Ingrese la segunda cadena: la profesora de idiomas
Si está

2. Desarrollar un algoritmo que determine si una cadena de caracteres es palındrome. Una cadena se dice palındrome si al invertirla es igual a ella misma.

In [ ]:
cad1 = input("Ingrese la cadena: ")
c = 0
i = 0
tam = len(cad1)
bandera = True
while (i < tam):
        if (cad1[i] != cad1[tam - 1 - i]):
            bandera = False
        i += 1

if bandera:
    print("Si es palíndrome")
else:
    print("No es palíndrome")

Ingrese la cadena: fapefaw
No es palíndrome

# Arreglos

1. Desarrollar un algoritmo que calcule el promedio de un arreglo de reales.

In [ ]:
def promedio_arreglo(A):
    s = 0
    for x in A:
        s += x
    return s/len(A)
print(promedio_arreglo([1,3,4,11,6]))

2. Desarrollar un algoritmo que calcule el producto punto de dos arreglos de números enteros (reales) de igual tamaño. 

Sean v = [v0,v1,...,vn−1] y w = [w0,w1,...,wn−1] dos arreglos, el producto de v y w (notado v · w) es el número:

v0 ∗w0 +v1 ∗w1 +···+vn−1 ∗wn−1.

In [ ]:
def producto_punto(X,Y):
    A = 0
    for i in range(len(X)):
        A+=X[i]*Y[i]
    return A

print(producto_punto([-3, 5],[2,-4]))

3. Desarrollar un algoritmo que calcule el producto directo de dos arreglos de números reales de igual tamaño. Sean v = [v0,v1,...,vn−1] y w = [w0,w1,...,wn−1] dos arreglos, el producto directo de v y w (notado v ∗ w ) es el vector: [v0 ∗w0,v1 ∗w1,...,vn−1 ∗wn−1].

In [ ]:
def producto_directo(X,Y):
    A = []
    for i in range(len(X)):
        B = 0
        B+=X[i]*Y[i]
        A.append(B)
    return A

print(producto_directo([-3, 5], [2, -4]))

4. Desarrollar un algoritmo que determine la mediana de un arreglo de enteros. La mediana es el número que queda en la mitad del arreglo despúes de ser ordenado.

In [ ]:
def mediana_arreglo(A):
    B = sorted(A)
    if len(B)%2 == 0:
        return (B[(len(B)//2)]+B[(len(B)//2)-1])/2
    else:
        return B[(len(B)//2)]
print(mediana_arreglo([1,6,11,4,3]))

4

# Listas

5. Desarrollar un programa que dadas dos listas determine que elementos tiene la primer lista que no tenga la segunda lista.

lista1: [1,′ Hola′,−12.3,True]

lista2: [11,−12.3,′Hola′,False]

salida: [1,True]

In [ ]:
lista1 = [0,'Hola',-12.3,True]
lista2 = [11,-12.3,'Hola',False]
lista3 = []

def convertir_lista(lista):
    list=[]
    for i in lista:
        list.append(str(i))
    return list

x = 0
for i in convertir_lista(lista1):
    for j in convertir_lista(lista2):
        if i != j:
            x += 1
            if x == len(lista1):
                lista3.append(str(i))
    x = 0
print(lista3)

['0', 'True']

In [ ]:
lista = [22,0,"Hola",20,-12.3,True]
lista2 = [11,-12.3,"Hola",False,22,1]

lista3 = []
for palabra in lista2:
	if type(palabra) == bool:
	    palabra = str(palabra)

	if palabra not in lista:
            lista3.append(palabra)
print(lista3)

[11, 'False']

# Matrices

1. Desarrollar un algoritmo que permita sumar dos matrices de números reales (enteros).

In [ ]:
def suma_matrices(X,Z):
    Y = []
    for i in range(len(X)):
        fila = []
        for j in range(len(X[i])):
            fila.append(X[i][j]+Z[i][j])
        Y.append(fila)
    return Y
print(suma_matrices([[3,5,7],[2,4,6]],[[1,-3,2],[4,11,-1]]))

2. Desarrollar un algoritmo que permita multiplicar dos matrices de números reales (enteros).

In [ ]:
A=[[3,2,1],[1,1,3],[0,2,1]]
B=[[2,1],[1,0],[3,2]]

def multi_matrices(A,B):
    Y=[]
    for i in range(len(A)):
        Y.append([])
        for j in range(len(B[0])):
            Y[i].append(0)
    for i in range(len(A)):
        for j in range (len(B[0])):
            for k in range(len(A[0])):
                Y[i][j] += A[i][k] * B[k][j]
    return Y

print(multi_matrices(A,B))

3. Desarrollar un programa que sume los elementos de una columna dada de una matriz.

In [ ]:
A=[[3,2,1],[1,1,3],[0,2,1]]

def suma_columnas(A):
    B = []
    C = 0
    for i in range (len(A)):
        for j in range (len(A)):
            C = C + (A[j][i])
        B.append(C)
        C = 0
    return B

print(suma_columnas(A))

4. Desarrollar un programa que sume los elementos de una fila dada de una matriz.

In [ ]:
A=[[3,2,1],[1,1,3],[0,2,1]]

def suma_filas(A):
    B = []
    C = 0
    for i in range (len(A)):
        for j in range (len(A)):
            C = C + (A[i][j])
        B.append(C)
        C = 0
    return B

print(suma_filas(A))

5. Desarrollar un algoritmo que determine si una matriz es mágica. Se dice que una matriz cuadrada es mágica si la suma de cada una de sus filas, de cada una de sus columnas y de cada diagonal es igual.

In [ ]:
A=[[8,1,6],[3,5,7],[4,9,3]]
analizador = [0,0,0,0,0,0,0,0]
k = -1
for i in range(0,3):
    k = k + 1
    for j in range(0,3):
        analizador[k] = analizador[k] + A[i][j]
        analizador[k+3] = analizador[k+3] + A[j][i]
        print(analizador)
for i in range(0,3):
    analizador[6] = analizador[6] + A[i][i]
    analizador[7] = analizador[7] + A[i][2-i]
    print(analizador)

a = 0
for i in analizador:
    for j in analizador:
        if i != j:
            a += 1
        #print(a)

if a > 0:
    print("No es matriz mágica ")
else:
    print("Si es matriz mágica ")

[8, 0, 0, 8, 0, 0, 0, 0]
[9, 0, 0, 11, 0, 0, 0, 0]
[15, 0, 0, 15, 0, 0, 0, 0]
[15, 3, 0, 15, 1, 0, 0, 0]
[15, 8, 0, 15, 6, 0, 0, 0]
[15, 15, 0, 15, 15, 0, 0, 0]
[15, 15, 4, 15, 15, 6, 0, 0]
[15, 15, 13, 15, 15, 13, 0, 0]
[15, 15, 16, 15, 15, 16, 0, 0]
[15, 15, 16, 15, 15, 16, 8, 6]
[15, 15, 16, 15, 15, 16, 13, 11]
[15, 15, 16, 15, 15, 16, 16, 15]
No es matriz mágica

# Ciclo_Para

4. Imprimir los números de 1 hasta un número natural n dado, cada uno con su respectivo factorial.

In [ ]:
n = int(input("n?: "))
fact = 1
for num in range(1,n+1):
    fact = fact * num
    print(str(num)+ "\t -> \t" + str(fact))

6. Leer un número natural n, leer otro dato de tipo real x y calcular x^n.

In [ ]:
x = float(input("x?: "))
n = int(input("n?: "))
rta = 1
c = 0
while c < n:
    rta = rta * x
    c += 1
print(str(x) + " ^ " + str(n) + " = " + str(rta))
print(x**n)

7. Diseñe un programa que muestre las tablas de multiplicar del 1 al 9.

In [ ]:
n = int()

for n in range(1,10):
    for num in range(0,11):
        print(str(n) + " * " + str(num) + " = " + str(n*num))
    print()

# Diccionarios

1. Desarrollar un algoritmo que imprima de manera ascendente los valores (todos del mismo tipo) de un diccionario.

In [ ]:
port = {80:"HTTP",23:"SMTP",443:"HTTPS"}
print(port)
valores = list(port.values())
valores.sort()
print(valores)

2. Desarrollar un algoritmo que verifique si todas las clave:valor de un diccionario se encuentran en otro diccionario.

# Recursión

1. Modele mediante una función matemática y diseñe un programa recursivo que calcule la suma de los primeros n cuadrados de los números naturales.

![Screen Shot 2021-07-10 at 6.08.08 PM.png]()

2. Modele mediante una función matemática y diseñe un programa sin cadenas, tuplas o listas que retorne el último dígito de un número natural n (leído de izquierda a derecha). Por ejemplo, 

ultimo(13579) = 9.

In [ ]:
def ultimo(n, m = 1000000000):
  if n < 10 :
    return n
  else:
    return ultimo(n % m , m // 10)

print(ultimo(13579))

3. Modele mediante una función matemática y diseñe un programa recursivo sin cadenas, tuplas o listas que dado un número natural n elimine el último dígito del número. Por ejemplo, 

elimina_ul(654321) = 65432.

In [ ]:
def elimina_ult(n, m = 1000000000, c = 8):
  if n < 10 :
    return 0
  else:
    return ((n//m)*10**c) + elimina_ult(n % m , m // 10, c-1)

print(elimina_ult(654321))
print(elimina_ult(12))
print(elimina_ult(456812))

4. Modele mediante una función matemática y diseñe un programa recursivo sin cadenas, tuplas o listas que determine la cantidad de dígitos que componen un número natural n. Por ejemplo, 

longitud(1230321) = 7.

In [ ]:
def longitud (n):
  if n == 0:
    return 0;
  else:
    return 1 + longitud(n//10)

print(longitud(1230321))

5. Modele mediante una función matemática y diseñe un programa recursivo sin cadenas, tuplas o listas que calcule la suma de los dígitos que componen un número natural n. Por ejemplo,

suma digitos(123456) = 21.

In [ ]:
def suma_digitos (n):
  if n == 0:
    return 0;
  else:
    return (n%10) + suma_digitos(n//10)

print(suma_digitos(123456))

6. Modele mediante una función matemática y diseñe un programa recursivo sin cadenas, tuplas o listas que retorne el primer dígito de un número natural n (leído de izquierda a derecha). Por ejemplo, 

primero(86420) = 8.

In [ ]:
def primero (n):
  if n < 10:
    return n;
  else:
    return primero(n//10)

print(primero(86420))

7. Modele mediante una función matemática y diseñe un programa recursivo sin cadenas, tuplas o listas que dado un número natural n elimine el primer dígito del número. Por ejemplo,

elimina pri(654321) = 54321.

In [ ]:
def eliminar_primero (n , c = 0):
  if n < 10:
    return 0;
  else:
    return (n%10)*(10**c)+ eliminar_primero(n//10, c+1)

print(eliminar_primero(654321))



```
# This is formatted as code
```

# New Section Massiel

In [ ]:
# -*- coding: utf-8 -*-

ed= ["Taj Mahal", "Machu Picchu", "Chichen Itzá", "Taj Mahal", "Taj Mahal", "Chichen Itzá", "Taj Mahal", "Machu Picchu"]

llaves=([1,3,5,6], ["Taj Mahal", "Machu Picchu", "Chichen Itzá", "Taj Mahal", "Taj Mahal", "Chichen Itzá", "Taj Mahal", "Machu Picchu"], "Taj Mahal")

faltan=([3,5,7,10,15,16], [3,5,10,13])

difer=([3,5,7,10,15,16],[3,5,10,13])

def edificio(ed):
    edr=[]
    for i in ed:
        if i not in edr:
            edr.append(i)
    return(edr)

#print(edificio(["Taj Mahal", "Machu Picchu", "Chichen Itzá", "Taj Mahal", "Taj Mahal", "Chichen Itzá", "Taj Mahal", "Machu Picchu"]))

def encontrada(llaves):
    ac=0;    llave_enc=[]
    for i in llaves[0]:
        for j in reversed(llaves[0]):
            if llaves[1][i] == llaves[1][j] and [i] != [j]:
                ac +=1
                if ac > 1:
                    llave_enc.append(j);llave_enc.append(i)
                    ac=0
    return (llave_enc)

#print(encontrada([1,3,5,6], [“Taj Mahal”, “Machu Picchu”, “Chichen Itzá”, “Taj Mahal”, “Taj Mahal”, “Chichen Itzá”, “Taj Mahal”, “Machu Picchu”], “Taj Mahal”))

def faltantes(faltan):
    for i in faltan[1]:
        for j in faltan[0]:
            if i == j:
                faltan[0].remove(i)
    return (faltan[0])

#print(faltantes([3,5,7,10,15,16],[3,5,10,13]))

def diferencia(difer):
    eliminar=[]
    for i in difer[0]:
        if i in difer[1]:
            eliminar.append(i)
    for i in eliminar:
        if i in difer[0]:
            difer[0].remove(i)
            difer[1].remove(i)
    if len(difer[0]) > len(difer[1]):
        r=1
    else:
        r=2
    return(r)

#print(diferencia([3,5,7,10,15,16],[3,5,10,13]))

TypeError: ignored